<div class="surface-section md:w-6">
  <div class="font-medium text-3xl text-900 my-3" >Car details</div>
  <ul class="list-none p-0 m-0">
    <li *ngFor="let element of displayElements"
        class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">{{element[0]}} </div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{element[1]}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
<!--        ngIf to hide edit button for id element-->
        <button *ngIf="element != displayElements[0]" pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"
                (click)="showEditModal(element[0])"></button>
      </div>
    </li>
  </ul>
</div>

<p-dialog header="{{modalHeader}}" [(visible)]="modalVisible" [style]="{width: '50vw'}">
  <form (ngSubmit)="onSubmit()" class="grid justify-content-center py-2">
    <input class="w-12" type="text" pInputText [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}"/>
    <button type="submit" pButton pRipple label="Save changes" class="p-button-success w-5 m-2"></button>
    <button type="button" pButton pRipple label="Back" class="p-button-danger w-5 m-2"
            (click)="modalVisible=false"></button>
  </form>
</p-dialog>
