<div class="surface-section md:w-9 xl:w-6">
  <div class="font-medium text-3xl text-900 my-3">New reservation</div>
  <form (ngSubmit)="onSubmitFindCars()">
    <ul class="list-none p-0 m-0">
      <div *ngFor="let element of dateAndOfficeElements">
        <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-3 font-medium">{{element.title}}</div>
          <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
            <input *ngIf="element.type==='text' || element.type==='number'" type="{{element.type}}" [(ngModel)]="element.model" name="{{element.name}}" class="w-12">
            <select *ngIf="element.type==='select'"  [(ngModel)]="element.model" name="{{element.name}}" class="w-12">
              <option *ngFor="let option of element.options" value="{{option[0]}}" >{{option[1]}}</option>
            </select>
            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" *ngIf="element.type==='date'" [(ngModel)]="element.model"
                        [showIcon]="true" name="{{element.name}}" [minDate]="element.minDate"></p-calendar>
          </div>
        </li>
        <p *ngIf="!element.valid" class="text-red-500">{{element.invalidMessage}}</p>
      </div>
    </ul>
    <button type="submit" pButton pRipple label="find cars" icon="pi pi-search" class="p-button-info w-5 m-2"></button>
  </form>
</div>

<!--<p-dialog header="Success!" [(visible)]="successModalVisible" [style]="{width: '50vw'}">-->
<!--  <div class="grid justify-content-center py-2">-->
<!--    <button type="button" pButton pRipple label="Add another employee" class="p-button-success w-5 m-2"-->
<!--            (click)="addNextEmployee()"></button>-->
<!--    <button type="button" pButton pRipple label="Go to added employee details" class="p-button-success w-5 m-2"-->
<!--            [routerLink]="addedEmployeePath"></button>-->
<!--  </div>-->
<!--</p-dialog>-->

<!--<p-dialog header="Fail" [(visible)]="failModalVisible" [style]="{width: '50vw'}">-->
<!--  Adding new employee failed, please check if input is correct.-->
<!--</p-dialog>-->
