<div class="surface-section xl:w-10">
  <div class="font-medium text-3xl text-900 my-3" >Reservations </div>
  <p-table styleClass="p-datatable-sm" [value]="reservations" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:10%">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="dateFrom" style="width:20%">Date from <p-sortIcon field="dateFrom"></p-sortIcon></th>
        <th pSortableColumn="dateTo" style="width:20%">Date to <p-sortIcon field="dateTo"></p-sortIcon></th>
        <th pSortableColumn="pickUpOffice" style="width:20%">Pick up office <p-sortIcon field="pickUpOffice"></p-sortIcon></th>
        <th pSortableColumn="returnOffice" style="width:20%">CarReturn office <p-sortIcon field="returnOffice"></p-sortIcon></th>
        <th pSortableColumn="car" style="width:20%">Car <p-sortIcon field="car"></p-sortIcon></th>
        <th pSortableColumn="status" style="width:20%">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="clientId" style="width:20%">Client id <p-sortIcon field="clientId"></p-sortIcon></th>
        <th style="width: 10%">Details</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reservation>
      <tr>
        <td>{{reservation.id}}</td>
        <td>{{reservation.dateFrom}}</td>
        <td>{{reservation.dateTo}}</td>
        <td>{{officeToString(reservation.pickUpOffice)}}</td>
        <td>{{officeToString(reservation.returnOffice)}}</td>
        <td>{{carToString(reservation.car)}}</td>
        <td>{{reservation.status}}</td>
        <td>{{reservation.clientId}}</td>
        <td><button pButton pRipple label="Details" icon="pi pi-search" class="p-button-text" routerLink="{{'/admin/reservation/' + reservation.id}}"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
